body {
    background-color: gray;
}

h1 {
    text-align: center;
    color: #2f3030;
    padding: 20vw;
}

p {
    text-align: center;
    color: #2f3030;
}

#viewCount {
    color: #e6531e;
}